body{
    background-color:rgb(77, 77, 77);

}

.MainForm{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    width: 50%;
    background: rgb(0, 0, 0);
    padding: 2.5rem 0.7rem;
}

.MainForm label{
    color:whitesmoke;
    margin-right:5px;
}

.xd{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    background-color: green;
}

.notdiv
{
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
    background-color: green;
}